@import url(../App.css);

main {
    background-color: var(--Cor1);
    width: 98vw;
}

article {
    background-color:var(--Cor6); 
    max-width: 700px;
    height: 100vh;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

article  p {
    font-family: var(--fonte-basica);
    line-height: 1.4em;
    
}